<div class="login-container">
  <div class="login-subcontainer">
    <mat-card>
      <img src="assets/loginLogo.png" />
      <mat-card-content>
        <mat-form-field>
          <mat-select placeholder="DBMS">
            <mat-option *ngFor="let s of dbms" [value]="s.id">
              {{s.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="host">
          <input matInput placeholder="Host" name="host" />
        </mat-form-field>
        <mat-form-field class="port">
          <input matInput placeholder="Port" name="port" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Username" name="username" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">LOG IN</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
