.login-container {
  height: 100%;
  display: table;
  margin: 0 auto;
}

.login-subcontainer {
  display: table-cell;
  vertical-align: middle;
}

mat-card {
  width: 40%;
  margin: auto;
}

.mat-card-content {
  margin-top: 16px;
}

mat-form-field {
  width: 100%;
}

.host {
  width: 83.9%;
}

.port {
  width: 15%;
}
